.App {
  text-align: center;
}

body {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 25, 0));
}

.lightContainer {
  display: flex;
  justify-content:space-between;
  width: 40%;
  height: 380px;
  border:5px solid black;
  border-radius: 30px;
  background-color: black;
  margin-left: 350px;
  margin-top: 150px;
  margin-left: 400px;
  padding:10px;
}

